@import '../../var';

.itemsContainer {
 width: 70vw;
 //  height: 30vh;
 background-color: #d1ba7e;
 box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.3);
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.title {
 margin-bottom: 48px;
 span {
  color: $main;
 }
}

.button {
 float: right;
}
